.area {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(206, 236, 240);
  overflow: auto;
  scrollbar-width: none; /* 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.area::-webkit-scrollbar {
  display: none;
}
