.tab {
  width: 180px;
  height: 100%;
  font-size: medium;
  font-weight: 700;
  color: darkseagreen;
  background-color: rgb(226, 251, 251);
  border-left: 0;
  border-top: 0;
  border: 1px solid rgb(200, 220, 220);
  flex-shrink: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.focus {
  /* font-size: large; */
  color: darkolivegreen;
  background-color: azure;
  border-bottom: 2px solid azure;
}
