.tab {
  width: 150px;
  height: 100%;
  font-size: medium;
  font-weight: 700;
  color: darkslategrey;
  background-color: azure;
  border-left: 0;
  border-top: 0;
  border-right: 2px solid rgb(200, 220, 220);
  border-bottom: 2px solid rgb(200, 220, 220);
  flex-shrink: 0;
}

.focus {
  border-bottom: 2px solid azure;
}
