.menu {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
  overflow: hidden;
  border-radius: 10px;
}
.food_item {
  width: 100%;
  height: 93%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, auto));
  row-gap: 4px;
  column-gap: 4px;
  justify-items: center;
  align-items: center;
  overflow: auto;
  margin-right: 5px;
  border-radius: 2%;
  padding: 0 8px 8px 8px;
  background-color: azure;
  scrollbar-width: none; /* 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.food_item::-webkit-scrollbar {
  display: none;
}
