.area {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.table {
  color: azure;
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: -1px -1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa,
    1px 1px 0 #aaa;
  margin-right: 1rem;
}
