.area {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.name {
  color: darkslategrey;
}
@media (max-width: 900px) {
  .name {
    font-size: x-large;
  }
}
